# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.idea
/mock
build/static/js/main.9ab7bcb5.js
build/static/js/main.9ab7bcb5.js.map
build/static/media/activity.0d238f26.jpg
build/static/media/bg.82fc62b5.png
build/static/media/bg_line.669533c0.png
build/static/media/bg_wangge.950f63d6.png
build/static/media/bj.654c39dc.jpg
build/static/media/comBtn1.52176384.png
build/static/media/comBtn2.8e58a079.png
build/static/media/comBtn3.297f1e78.png
build/static/media/common.2c6a7e95.png
build/static/media/company.4935f005.png
build/static/media/company1.eab404b8.png
build/static/media/erweim.b639e63e.png
build/static/media/flow.8713438a.jpg
build/static/media/footer-logo.85166ec1.png
build/static/media/footer.82fc03eb.png
build/static/media/header.8e33b110.png
build/static/media/headTIT.3d322f09.png
build/static/media/hostMeet.a883e777.jpg
build/static/media/person.87b523ae.png
build/static/media/person1.d2bd99cc.png
build/static/media/prizaTable.ad93aa45.png
build/static/media/prize12.acd3d94e.jpg
build/static/media/product.a3182fa2.png
build/static/media/product1.18ee73a0.png
build/static/media/rules11.97f29c3e.png
build/static/media/rules22.a10f62ab.jpg
build/static/media/tabBg.09fc63e6.png
build/static/media/title6.ecc59480.png
build/static/media/title8.5b971fd4.jpg
build/static/media/y.db70b9c9.png
build/static/media/大会简介.7c897983.png
