
.high-lights {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 239px;


  .high-light-list {
    width: 960px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .high-lights-logo {
    position: absolute;
    right: 0;
    top: 0;
  }


  .high-light-item {
    cursor: pointer;
    color: #fff;
    &:hover {
      .divider {
        width: 300px;
      }
    }
    .title {
      margin-top: 20px;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 10px;
    }

    .divider {
      transition: width .3s ease-out;
      //width: 300px;
      width: 0;
      height: 1px;
      background: #2FE0F0;
    }

    .content {
      margin-top: 10px;
      font-size: 14px;
      margin-bottom: 52px;
      font-weight: 100;
    }
  }
}
