.speech--guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 80px;
  .speech--body,
  .speech--more{
    //overflow: hidden;
    width: 1035px;
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
  }

  .btn--more {
    width: 140px;
    height: 37px;
    background: #f69348;
    border-radius: 19.5px;
    line-height: 37px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: #fff;
    > span {
      margin-right: 7px;
    }

  }
}