.cooperative_box{
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .cooperative_box_row{
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    .cooperative_box_item{
      display: inline-block;
      text-align: center;
      width: 100px;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      margin: 0 5px;
      border: 1px solid red;
      background: #cccccc;
    }
  }
}


@media only screen and (max-width: 414px) {
  .cooperative_box{
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cooperative_box_row{
      display: flex;
      flex-wrap: nowrap;
      margin: 10px;
      .cooperative_box_item{
        display: inline-block;
        text-align: center;
        width: 100px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        margin: 0 5px;
        border: 1px solid red;
        background: #cccccc;
      }
    }
  }
}