.CampaignPC{
    width: 100%;
    height: 100%;
    background: #060503;
    .header{
        width: 100%;
        img{
            width: 100%;
            display: block;
        }
    }
    .form_submit{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #bfbfbf;
        .center_form{
            width: 900px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .btn{
                display: flex;
                width: 900px;
                justify-content: center;
            }
        }
        .ant-col-6.ant-form-item-label{
            text-align: left;
            width: 16%;
        }
        .ant-form-item-label label{
            color: #bfbfbf;
        }
        .ant-form-item{
            width: 40%;
        }
    }
    .sctions{
        width: 100%;
        background: #060503;
        color: #bfbfbf;
        .title_sec{
            margin: 0 auto;
            width: 900px;
            padding: 20px 0;
            font-size: 12px;
            .tit{
                font-size: 16px;
            }
            p:not(.tit){
                margin-bottom: 5px;
            }
        }
        .choose{
            width: 900px;
            margin: 0 auto;
            ul{
                display: flex;
                flex-wrap: wrap;
                li{
                    width:150px;
                    height: 258px;
                    display: flex;
                    margin-right: 30px;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 30px;
                    background: #17191f;
                    padding: 7px;
                    border: 1px solid #a17e51;
                    &:nth-child(5n){
                        margin-right: 0;
                    }
                    .pic{
                        width: 140px;
                        img{
                            width: 100%;
                        }
                    }
                    p{
                        margin-bottom: 5px;
                        color: #bfbfbf;
                    } 
                    .btn{
                        padding-top: 5px;
                        cursor: pointer;
                        text-align: center;
                    }
                    .details{
                        font-size: 12px;
                        .ant-checkbox-wrapper{
                            color: #bfbfbf;
                            font-size: 12px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-direction: column-reverse;
                            position: relative;
                        }                      
                        .ant-checkbox{
                            margin-top: 5px;
                            cursor: pointer;
                            position: absolute;
                            left: 50%;
                            top: 41px;
                            margin-left: -8px;
                        }
                        .ant-checkbox+span{
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
}
.pcModal{
    .ant-modal-close{
        color: #fff;
    }
    .ant-modal-body{
        background: #060503;
        .specific{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            .company{
                margin-top: 10px;
                margin-bottom: 0;
            }
            .detailCont{
                text-align: justify;
            }
            .detailPic{
                width: 300px;
                img{
                    width: 100%;
                }
            }
        } 
    }
    .ant-modal-footer{
        display: none;
    }
}

.choose_content{
    &:first-child, :nth-child(1), :nth-child(3){
        li{
            height: 258px;
            .ant-checkbox{
                top: 41px;
            }
        }
    }
}
.choose{
    .choose_content117, .choose_content118, .choose_content119{
            li{
                height: 330px!important;
                .ant-checkbox{
                    top: 62px!important;
                }
            }
    }
}
