.campaign-phone-box {
  background: #060503;
  .campaign-phone-banner {
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .campaign-phone-selection-rules{
    color: #bfbfbf;
    padding: 14px;
    font-size: 12px;
    // margin-top: -65px;
  }
  .campaign-map{
    width: 100%;
    color: #FFF;
    padding: 14px;
    .campaign-map-name{
      margin-bottom: 20px;
      color: #FFF;
      display: flex;
      align-items: baseline;
      img{
        width: 100%;
      }
      span:nth-child(1){
        font-size: 14px;
        color: #e1c277;
      }
      span:nth-child(2){
        font-size: 10px;
        color: #399ad4;
      }
    }
    .campaign-map-box{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content : center;
      .campaign-map-map{
        width: 48%;
        margin-right: 2%;
        &:nth-child(2n){
          margin-right: 0;
        }
        .campaign-map-map-box{
          width: 100%;
          background: #17191f;
          padding: 10px;
          border: 2px solid #a17e51;
          display: flex;
          justify-content: center;
          margin-bottom:10px;
          flex-direction: column;
          align-items: center;
          .xiangqing-box{
            width: 100%;
            height: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            color: #bfbfbf;
            .ab{
              margin-bottom: 3px;
            }
            .ant-checkbox-wrapper{
              display: flex;
              color: #FFF;
              font-size: 10px;
              align-items: center;
            }
            .ant-checkbox-wrapper + span, .ant-checkbox + span{
              line-height: 15px;
              color: #bfbfbf;
            }
          }
          img{
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .campaign-phone-information {
    // height: 100vh;
    padding: 24px;
    width: 100%;
    .gerenxinxi {
      width: 100%;
      color: #FFF;
      font-size: 16px;
      text-align: center;
    }
    .ant-form-item-label label {
      color: #FFF;
    }
  }
}

.details-box{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:#060503;
  color: #ffffff;
  img{
    display: block;
    width: 240px;
    height: 100%;
  }
  .details-box-name{
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .details-box-company{
    font-size: 13px;
  }
  .details-box-position{
    font-size: 13px;
    margin-bottom: 5px;
  }
  .details-box-summary{
    font-size: 12px;
    text-align: justify;
  }
}

.ant-modal-content{
  background-color:#060503 !important;
}
.ant-modal-close-x:before{
  color: #FFF;
}
.ant-modal-close{
  .anticon{
    color: #fff;
  }
}