.tit_lead{
    font-size: 26px;
    color: #333333;
    line-height:37px;
    margin:22px 0 30px 0;
}
.main_structure{
    width:100%;
    text-align:center;
    font-size:14px;
}
.hotWord{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    flex-direction:column;
    margin:110px 0 160px 0;
    h2{
        font-size: 22px;
        color: #0856A7;
        width:774px;
    }
    p{
        font-size: 16px;
        color: #333333;
        line-height: 24px;
        width:777px;
        text-align:left;
        margin-top:30px;
    }
}
.stru_parallel{
    min-height:3203px;
    height:3203px;
    position: relative;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position: center;
    background-image:url('../../assets/img/stru_parallel.png');
    .tit_lead{
        padding-top:95px;
        margin:78px 0 0 0;
    }
    .par_pic{
        width:100%;
        height:3203px;
        position: absolute;
        left:0;
        top:0;
        img{
            width:100%;
        }
    }
}



.parallel_content{
    padding-top:48px;
    li>div{
        display:flex;
        justify-content:center;
    }
    li{
        position: relative;
        &:nth-child(1){
            margin-bottom:118px;
            margin-top:140px;
        }
        &:nth-child(2){
            margin-bottom:123px;
        }
        &:nth-child(3){
            margin-bottom:127px;
        }
        &:nth-child(4){
            margin-bottom:117px;
        }
        &:nth-child(5),&:nth-child(7){
            margin-bottom:111px;
        }
        &:nth-child(6){
            margin-bottom:122px;
        }
        .circleDot{
            width:12px;
            height:12px;
            border-radius:50%;
            background:#BEBEC4;
            position: absolute;
            left: 50%;
            margin-left: -6px;
            top: 12px;
        }
    }
    .text{
        width:375px;
        display: flex;
        flex-wrap:wrap;
        height: 200px;
        p{
            text-align:justify;
            color:#333;
            line-height:20px;
            width:375px;
            // display: -webkit-box;
            // -webkit-box-orient: vertical;
            // -webkit-line-clamp:7;
            // overflow: hidden;
            // text-overflow:ellipsis;
        }
        h3{
            width:100%;
            font-size: 22px;
            color: #0856A7;
            line-height: 36px;
            margin-bottom:9px;
        }
        &:nth-child(odd){
            h3{
                text-align:right;
            }
        }
        &:nth-child(even){
            h3{
                text-align:left;
            }
        }
    }
    .pic{
        width:375px;
        img{
            width:100%;
            height:100%;
        }
    }
}
@mixin style {
    display:flex;
    // flex-wrap:wrap;
}
.lead_content, .lead_contents{
    padding:0 9%;
    display:flex;
    justify-content:center;
    li{
        width:200px;
        height:300px;
        background: #FFFFFF;
        box-shadow: 0 0 9px 2px rgba(208,207,213,0.50);
        margin:0 30px 45px 0;
        cursor: pointer;
        .lead_pic{
            width:200px;
            height:198px;
            img{
                width:100%
            }
        }
        span{
            font-size:14px;
            padding:20px 0 15px 0;
            display:block;
            &:nth-child(2){
                font-size:12px;
                opacity: 0.5;
                line-height: 12px;
                padding:0 0 39px 0; 
            }
        }
        p{
            height:100px;
        }
        &:nth-child(4),&:nth-child(8){
            margin-right:0;
        }
    }
    .on{
        background: #FFFFFF;
        box-shadow: 0 0 15px 6px rgba(208,207,213,0.50);
        li{
            width:209px;
            height:314px;
        }
    }
}

@media screen and (max-width:768px){
    .main_structure{
        height:3280px;
    }
    .tit_lead{
        font-size: 15px;
        margin:22px 0 30px 0;
    }
    .stru_parallel{
        background:none; 
        height:0;
        min-height:0;
        .tit_lead{
            padding-top: 0;
            margin:0;
            margin-bottom: 30px;
        }
    }
   
    .hotWord{
        width:100%;
        margin-bottom:53px;
        margin-top:20px;
        h2{
            font-size: 14px;
            color:#333;
        }
        p{
            font-size: 12px;
            color: #666666;
            line-height: 20px;
            margin-top:10px;
        }
        h2, p{
            width:3.43rem;
            text-align:justify;
        }
    }
    .lead_content,.lead_contents{
        li{
            width: .82rem;
            height:1.08rem;
            margin-right:.05rem;
            margin-bottom:.12rem;
            display: flex;
            flex-direction: column;
            .lead_pic,p{
                width:.82rem;
                height:.54rem;
            }
            img{
                width:100%;
                height:100%;
            }
            p{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top:15px;   
            }
            span{
                font-size:12px;
                padding:15px 0 5px 0;
                display:block;
                &:nth-child(2){
                    font-size:8px;
                    opacity: 0.5;
                    line-height: 12px;
                }
            }
        }
        
    }
    .parallel_content{
        display: none;
    }

    .parallel_cont{
        width:100%;
        background-image:url('../../assets/img/Group 2@2x.png');
        height:1969px;
        background-position:center;
        background-size:8px 1969px;
        background-repeat:no-repeat;
        img{
            width:100%;
            height:100%;
        }
        li{
            margin-bottom:60px;
            position: relative;
            .circleDot{
                width:4px;
                height:4px;
                border-radius:50%;
                background:#A3D9E7;
                position: absolute;
                left: 50%;
                margin-left: -6px;
                top: 0;
                border:4px solid #D1ECF3;
            }
        }
        .contet{
            display:flex;
            justify-content:center;
        }
        .text,.pic{
            width:1.41rem;
        }
        .text{        
            text-align:justify;
            color:#333;
            line-height:14px;
            font-size:10px;
            // display: box;
            // -webkit-box-orient: vertical;
            // overflow: hidden;
        }
        .pic{
            background: #fff;
            .pics{
                height:1.07rem;
                img{
                    width:100%;
                    height:100%;
                }
            }
            h3{
                width:100%;
                height:.6rem;
                box-shadow: 0 0 15px 6px rgba(208,207,213,0.50);
                line-height:.6rem;
                margin-bottom:9px;
                font-size:12px;
                color: #333333;
            }
        }
    }
}
@media screen and (max-width:414px){
    .main_structure {
        height: 3137px;
    }
    .stru_parallel {
        height: 2369px;
    }
    .parallel_cont{
        height:2295px;
        background-size: 8px 3607px;
        .text,.pic{
            width:141px;
        }
        .pics{
            height:107px;
        }
        h3{
            height:60px;
            line-height:60px;
        }
    }
    .hotWord{
        h2,p{
            width:343px;
        }
    }
    .lead_content,.lead_contents{
        li{
            .lead_pic,p,img{
                width: 82px;
                height:54px;
            }
        }
        
    }
}
@media screen and (min-width:770px){
    .parallel_cont{
        display: none;
    }
}