.meeting-block-title {
  margin-top: 50px;
  //margin-bottom: 28px;
  background: url(../../assets/images2/bg_biaoti.png) no-repeat center;
  width: 216px;
  height: 40px;
  font-size: 26px;
  color: #FFFFFF;
  text-align: center;

  .english-title {
    font-size: 14px;
  }
}
