.footer_box{
  width: 100%;
  height: 318px;
  background:url("./images/footer.png") no-repeat;
  background-size: 100% 100%;
  font-size: 12px;
  padding-top: 60px;
  overflow: hidden;
  color: #3a3a3a;
  font-family: 'iconfont';
  .footer_box_A{
    display: flex;
    .footer_box_left{
      display: flex;
      width: 50%;
      ul:nth-child(1){
        margin-left: 36%;
        li{
          margin-bottom: 28px;
          text-align: right;
        }
      }
      ul:nth-child(2){
        li{
          margin-left: 10px;
          margin-bottom: 28px;
          text-align: left;
        }
      }
    }
    .footer_box_right{
      width: 50%;
      div:nth-child(1){
        font-size: 14px;
      }
      div:nth-child(2){
        width: 80%;
        margin-top: 170px;
        font-size: 12px;
      }
    }
  }
  .record{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    border-top: 1px solid #ccc;
    width: 100%;
    height: 60px;
    div:nth-child(1){

    }
    div:nth-child(2){
      margin-left: 35%;
    }
  }

}