.view_nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index:105;
    left:0;
    background:rgba(0, 0, 0, .5);
    display:flex;
    height:50px;
    line-height:50px;
    justify-content:flex-end;
    ul{
        display:flex;
        font-size:14px;
        padding-right:3%;
    }
    li{
        margin-right:33px;
    }
    li a{
        cursor: pointer;
        display:inline-block;
        flex:1;
        color:#fff;
        text-align:center;
    }
    li:not(:last-child) a:hover{
        color:#F69348;
        // border-bottom:2px solid #F69348; 
    }
    .logo{
        padding-left:3%;
    }
}
.buttonBg{
    a{
        background: #F69348;
        border-radius: 100px;
        color:#fff;
        display:inline-block;
        width:104px;
        height:40px;
        line-height:40px;
        text-align:center;
        // margin-top:5px;
    }
    a:hover{
        color:#fff;
        background:#E87924;
    }
}
button{
    background:none;
}
.changeBg{
    color:#fff;
    
}
.view-head{
    display:none;
}
@media screen and (max-width:768px){
    .nav_top {
        display:none!important;
     }
     .view_nav, .view-head{
        width:100%;
        height:62px;
        opacity: 0.8;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(197,197,197,0.50);
        display:flex;
        justify-content:space-between;
        align-items:center;
        .logo{
            width:141px;
            height:38px;
        }
        img{
            
           &:last-child{
               width:22px;
               height:22px;
               padding-right:3%;
           }
        }
        .buttonBg{
            margin-right:-10px;
        }
    }
}
.navPage{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0px;
    top: 0px;
    .nav_list{
        width:100%;
        padding-top:50px;
        a{
            display: block;
            text-align:center;
            line-height:44px;
        }
    }
    img{
        position: absolute;
        right:8px;
        top:8px;
        width:35px;
        height:35px;
    }

}

