.view_nav{
    opacity: 0.9;
    background: #FFFFFF;
    height:65px;
    line-height:65px;
    position: fixed;
    left:0;
    top:0;
    width:100%; 
    display: flex;
    justify-content: space-around;
    align-items:center;
    z-index:2;
    ul{
        padding:0;
        display:flex;
        height:65px;
        line-height:65px;
        color:#333;
        font-size:14px;
        align-items:center;
    }
    li{
        margin-right:20px;
        cursor: pointer;
    }
}
.buttonBg{
    background-image: url('../../../assets/img/button.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    color:#fff;
    display:inline-block;
    width:104px;
    height:44px;
    line-height:44px;
    text-align:center;
}
