.view_tit{
    background-image:url('../../assets/img/titbg.png');
    background-repeat:no-repeat;
    background-size:355px 58px;
    background-position:center;
    width:100%;
    height:58px;
    text-align:center;
    color:#333;
    margin-top:120px;
    text-align:center;
    span{
        font-size:24px;
        display:block;
        line-height:33px;
        &:first-child{
            padding-top:5px;
        }
        &:nth-child(2){
            font-size:14px;
            line-height: 20px;
        }
    }
}

.describe{
    width:700px;
    font-size: 16px;
    color: #333333;
    line-height: 30px;
    margin-top:51px;
    text-align: center;
}
.main{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}
@media screen and (max-width:768px){
    .describe{
        width:3.43rem;
        text-align:justify;
        margin-top: 0;
        font-size: .12rem;
        color: #333333;
        line-height: .22rem;
    }
}

@media screen and (max-width:414px){
    .main{
        margin-top: -156px;
        display: flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    .describe{
        width:3.43rem;
        text-align:justify;
        margin-top: 0;
        font-size: .12rem;
        color: #333333;
        line-height: .22rem;
    }
}
